name: Validate with hassfest

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  validate:
    runs-on: "ubuntu-latest"
    name: Hassfest validation
    steps:
      - name: Checkout code
        uses: "actions/checkout@v4"
      
      - name: Run hassfest
        uses: "home-assistant/actions/hassfest@master"
